/* make the div invisible and take up the whole screen, but its children should be visible*/
#wise-flashcards-content-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9999;
    background-color:transparent;
}

#wise-flashcards-content-container * {
    z-index: 9999
}