:host {
  all: initial;
}

/*
  CSS reset
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
#wise-flashcards-content-container *,
#wise-flashcards-content-container *::before,
#wise-flashcards-content-container *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
#wise-flashcards-content-container * {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
#wise-flashcards-content-container body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
#wise-flashcards-content-container img,
#wise-flashcards-content-container picture,
#wise-flashcards-content-container video,
#wise-flashcards-content-container canvas,
#wise-flashcards-content-container svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
#wise-flashcards-content-container input,
#wise-flashcards-content-container button,
#wise-flashcards-content-container textarea,
#wise-flashcards-content-container select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
#wise-flashcards-content-container p,
#wise-flashcards-content-container h1,
#wise-flashcards-content-container h2,
#wise-flashcards-content-container h3,
#wise-flashcards-content-container h4,
#wise-flashcards-content-container h5,
#wise-flashcards-content-container h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#wise-flashcards-content-container #root,
#__next {
  isolation: isolate;
}


.wise-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9998;
  background-color: rgb(13,47,70);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.3;
  transition: opacity 0.3s;
  display: flex; /* Ensure flexbox layout */
  align-items: center; /* Center items vertically */
  justify-content: center; 
}

.wise-icon:hover {
  opacity: 1;
}

.wise-create-flashcards-button {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-color: rgb(13,47,70);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 5px;
}

.wise-button-hidden {
  display: none;
}